//-------------------------------COLOR-------------------------------------

$color--primary--black: #26211d;
$color--secondary--black: #45403c;

$color--primary--yellow: #d6b13d;

$color--primary--grey: #8e8782;


//--------------------------------FONT-------------------------------------

$font--lato: 'Lato', sans-serif;
$font--sans: 'Source Sans Pro', sans-serif;