*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    &:focus{
        outline: none;
    }
}

html{
    font-size: 62.5%;
    @media only screen and (max-width: 64em){
        font-size: 56.25%;
    }
    @media only screen and (max-width: 48em){
        font-size: 50%;
    }
    @media only screen and(max-width: 28.125em){
        font-size: 43.75%;
    }
}

body{
    position: relative;
    font-weight: 400;
    background: linear-gradient(#0c2137, #5693d1);
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    font-weight: 400;
}

.screen{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    display: none;
    @media only screen and (max-width: 64em){
        height: calc(100vh - 56px);
        overflow-y: auto !important;
    }
    &.select{
        visibility: visible;
        z-index: 10;
    }
}
