//------------------------COLORS------------------------------
$color--primary--red: #c70b0b;

//-------------------------FONT-------------------------------

$font--quicksand: Quicksand;
$font--roboto: 'Roboto', sans-serif;