.banner{
    height: 18rem;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/about-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    &__heading{
        color: #fff;
        font-weight: 500;
        top: 50%;
        left: 5rem;
        transform: translateY(-50%);
        position: absolute;
    }

}